<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- can be directly referred to the url below to always access the updated jQuery version -->
	<!-- <script src="https://code.jquery.com/jquery.js"></script> -->
	<script src="/resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
	
	
	<!-- Optional, depends if your page needed the codes written in the following files: -->
	<!-- Generic JavaScript and JQuery codes specific for Quezelco App -->
	<script src="/resources/js/appmain-jquery.js" th:src="@{/resources/js/appmain-jquery.js}"></script>
	<script src="/resources/js/appmain.js" th:src="@{/resources/js/appmain.js}"></script>
	
	
	<!-- Reference to Bootstrap files(below), version 3.0 -->
	
	<!-- standard bootstrap.min.js file -->
    <script src="/resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    
    <!-- bootstrap.min.css file from bootswatch.com Spacelab theme -->
	<link href="/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- Title tag is already used in header.html -->
	<!-- Use the title tag only on pages that does not include the header.html page -->
	<!-- <title>QUEZELCO - Online Billing and Monitoring System</title> -->
</head>
<body>
	<div th:replace="sections/header">&nbsp;</div>
	<p>
		THIS IS ONLY USED AS A TEMPLATE FOR NEW HTML FILE CREATIONS.
	</p>
	<div th:include="sections/footer"></div>
</body>
</html>