<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" media="screen" th:href="@{/resources/css/compiled/new-user.css}" />
	<link rel="stylesheet" media="screen" th:href="@{/resources/css/lib/select2.css}" />
	<title>Quezelco | Add Bill</title>
</head>
<body>
	<div th:replace="sections/header"></div>
	<div
		th:replace="sections/sidebar :: sidebar(home='', reports='', billing='', viewbill='', inputbill='active', computebill='', printbill='', 
												consumers='', consumerlist='', manage='active', systemuser='')"></div>
	<div class="content">
		<div class="container-fluid">
			<div id="pad-wrapper" class="new-user">
				<div class="row-fluid header">
                    <h3>Input Bill</h3>
                </div>
                <div class="row-fluid form-wrapper">
					<form method="post" th:object="${bill}" th:action="@{/bill/add}">
						<fieldSet>
							<div class="span12 field-box">
								<label for="txtAccountNumber">Account Number: </label>
								<input type="text" id="txtAccountNumber" th:field="*{accountNumber}" class="span5" />
								<ul class="error">
									<li th:each="err : ${#fields.errors('accountNumber')}" th:text="${err}">msg</li>
								</ul>
							</div>
							<div class="span12 field-box">
								<label for="txtOebrNumber">OEBR Number: </label>
								<input type="text" id="txtOebrNumber" th:field="*{oebrNumber}" class="span5" />
    							<input src="C:\Users\Admin\Pictures\search.jpg" name="Search" type="image" />
    							
								<ul class="error">
									<li th:each="err : ${#fields.errors('oebrNumber')}" th:text="${err}">msg</li>
								</ul>
							</div>
							<div class="span12 field-box">
								<label for="dtStartDate">Bill Period: </label> 
								<input type="text" id="dtStartDate" th:field="*{startDate}" class="span2" />
								&nbsp;&nbsp;&nbsp;&nbsp;to: &nbsp;&nbsp;
								<input type="text" id="dtEndDate" th:field="*{endDate}" class="span2" />
								<ul class="error">
									<li th:each="err : ${#fields.errors('startDate')}" th:text="${err}">msg</li>
									<li th:each="err : ${#fields.errors('endDate')}" th:text="${err}">msg</li>
								</ul>
							</div>	
						    <div class="span12 field-box">
								<label for="txtKwh">KWH used: </label>
								<input type="text" id="txtKwh" th:field="*{currentKwh}" class="span2" />  
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								Previous Reading: 
								<input type="text" id="txtPrevRead" th:field="*{previousReading}" class="span2" /> 
								&nbsp;&nbsp;&nbsp;
								Current Reading:
								<input type="text" id="txtCurrRead" th:field="*{currentReading}" class="span2" />  
								  							
								<ul class="error">
									<li th:each="err : ${#fields.errors('currentKwh')}" th:text="${err}">msg</li>
									<li th:each="err : ${#fields.errors('previousReading')}" th:text="${err}">msg</li>
									<li th:each="err : ${#fields.errors('currentReading')}" th:text="${err}">msg</li>
								</ul>
							</div>
							
							<input type="submit" value="Submit" class="btn-glow primary" />													
						</fieldSet>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:include="sections/footer"></footer>
</body>
</html>