<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headtag">
	<script th:src="@{/resources/js/jquery.js}"></script>
	<script th:src="@{/resources/js/appmain-jquery.js}"></script>
	<script th:src="@{/resources/js/appmain.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	<link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-theme.min.css}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Quezelco</title>
</head>
<body>
</body>
</html>