<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <title>QUEZELCO - Online Billing and Monitoring System</title>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
	    <div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
	            </button>
	            <a class="navbar-brand" href="#" th:href="@{/}">Quezelco</a>
	        </div>
	        <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	                <li class="active"><a href="#" th:href="@{/}">Home</a></li>
	                <li class="active"><a href="#" th:href="@{/}">Reports</a></li>
	                <li class="active"><a href="#" th:href="@{/}">Maintenance</a></li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="/signin" th:href="@{/signin}">Sign in</a></li>
	                <li><a href="/logout" th:href="@{/logout}">Logout</a></li> -->
	            </ul>
	        </div>
	        <!--/.nav-collapse -->
	    </div>
	</div>
</body>
</html>