<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
	<!-- Sidebar fragment parameters are each of the menu and submenu names -->
	<div id="sidebar-nav" th:fragment="sidebar (home, reports, billing, viewbill, inputbill, computebill, printbill, 
												consumers, consumerlist, manage, systemuser)">
        <ul id="dashboard-menu">
            <li th:class="${home}">
            	<div th:if="${home!=''}" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a th:href="@{/}">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
            </li>            
            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${reports}">
            	<div th:if="${reports!=''}" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a th:href="@{/}">
                    <i class="icon-signal"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}" th:class="${billing}">
            	<div th:if="${billing!=''}" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>Billing</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu" th:classappend="${billing}">
                	<li><a th:href="@{/jobs/main}" th:class="${viewbill}">View Monthly Bills</a></li>
                    <li><a th:href="@{/bill/add}" th:class="${inputBill}">Input Bill</a></li>
                    <li><a th:href="@{/}" th:class="${computebill}">Compute Bill</a></li>
                    <li><a th:href="@{/}" th:class="${printbill}">Print Bill</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" th:class="${consumers}">
            	<div th:if="${consumers!=''}" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>Consumer</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu" th:classappend="${consumers}">
                    <li><a th:href="@{/}" th:class="${consumerlist}">Consumer list</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')" th:class="${manage}">
            	<div th:if="${manage!=''}" class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-cog"></i>
                    <span>Manage</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu" th:classappend="${manage}">
                    <li><a th:href="@{/users/main}" th:class="${systemuser}">System Users</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>