@CHARSET "US-ASCII";

.site-footer {
	text-align: center;
	margin-top: 15px;
	border-top: 1px solid #e5e5e5;
}

.error {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color: #D8000C;
	padding-left: 20px
}