<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="sections/headtag">
</head>
<body>
	<div th:replace="sections/header">&nbsp;</div>
	
	<div class="container">


		<h1 th:if="${#authorization.expression('!isAuthenticated()')}"></h1><br/>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Announcements:</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ann : ${announcements}">
					<td th:text="${ann.text}"></td>
				</tr>
			</tbody>
		</table>
		<input type="date" />

	</div>

	<div th:include="sections/footer"></div>
</body>
</html>